/* ================= CUPOM E FINALIZAR ================= */
#cupom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 0.5rem;
}

#cupom {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 180px;
}

.btn-cupom,
.btn-finalizar {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f30d7c;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.btn-cupom:hover,
.btn-finalizar:hover {
  background-color: #e7e4e9;
  color: black;
}

/* ================= FOOTER ================= */
footer {
  background-color: #f30d7c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}


